In [1]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('Namizje')
import re
import itertools
from collections import Counter

Drive already mounted at Namizje; to attempt to forcibly remount, call drive.mount("Namizje", force_remount=True).

In [2]:
with open("AoC.txt") as fp:
  data=fp.readlines()
  aoc=[f.strip() for f in data]

In [3]:
aoc = [int(i) for i in aoc]

In [4]:
part1=aoc

In [9]:
part1.insert(0,0)
part1.sort()
part1=np.diff(part1)

In [16]:
one=[]
ones=0
two=[]
twos=0
three=[]
threes=0
for i in part1:
  if i == 1:
    one.append(i)
    ones+=1
  elif i == 2:
    two.append(i)
    twos+=1
  elif i == 3:
    three.append(i)
    threes+=1

print(ones)
print(twos)
print(threes+1)

result=ones*(threes+1)
print(result)

75
0
33
2475

In [19]:
#part 2


with open("AoC.txt") as fp:
  data=fp.readlines()
  aoc=[f.strip() for f in data]

In [20]:
aoc = [int(i) for i in aoc]

In [39]:
def foo(nums):
    x = sorted(nums)
    x.append(x[-1] + 3)

    data = Counter()
    data[0] = 1

    for i in x:
           
      data[i] = data[i - 1] + data[i - 2] + data[i - 3]
        

    return data[x[-1]]

In [41]:
print(foo(aoc))

442136281481216