In [1]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('Namizje')

Drive already mounted at Namizje; to attempt to forcibly remount, call drive.mount("Namizje", force_remount=True).

In [4]:
data = np.loadtxt('AoC.txt', delimiter=',', dtype=str)

In [5]:
#part 1

valid = []
for i in data:
  one, two = i.split(': ') #Split the string, using :, followed by a space, as a separator:
  left, right = one.split(" ")[0].split("-")#spit the string using 'space', but keep only first element, hence [0], on that first element again split the string using '-'.
  id = one.split(' ')[1] #split string using 'spece' but keep only the right one, hence [1] -- ['3-5', 'x']--if [1] only keep x
  if int(left) <= two.count(id) <= int(right): 
    valid.append(two)

len(valid)

398

In [117]:
#part 2
validpass=[]

for i in data:
  one, two = i.split(': ') #Split the string, using :, followed by a space, as a separator:
  left, right = one.split(" ")[0].split("-")  #spit the string using 'space', but keep only first element, hence [0], on that first element again split the string using '-'.
  id = one.split(' ')[1] #split string using 'spece' but keep only the right one, hence [1] -- ['3-5', 'x']--if [1] only keep x
  count = 0  #every loop above will start from zero
  
  # we put multipe if statements (not if, elif, else) because with this approach only the password with one correct letter will be valid. 
  # if we wiuld use if elif than both statements could be correct which in this case isn't ok!!
  if two[int(left)-1] == id:
    count+=1  
    
  if two[int(right)-1] == id:
    count+=1
    
  if count ==1:
    validpass.append(two)  

len(validpass)

562